<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.286650245340-5mt20t4vfi82gjl6kpmpbgkrmjhon07m</string>
				<string>syncfit</string>
			</array>
		</dict>
	</array>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>SyncFit uses your location to show coaches near you.</string>
	<key>USDA_API_KEY</key>
	<string>$(USDA_API_KEY)</string>
</dict>
</plist>
